.navbar
  .index
    -if user_signed_in?
      %h1.index__title
        ="#{@users.nickname}さんこんにちは！"
      .index__link
        =link_to "分析","#",class:"index__link__analysis"
        =link_to "資産","#",class:"index__link__assets"
        =link_to "設定","#",class:"index__link__config"
        =link_to "ログアウト",destroy_user_session_path,method: :delete,class:"index__sign-out"
    -else
      %h1.index__title
        MiaBo
      .index__link
        =link_to "新規登録",new_user_registration_path,class:"index__link__sign-up"
        =link_to "ログイン",new_user_session_path,class:"index__link__sign-in"